/* .jumbo {
  background-image: url("cover.jpeg");
  background-attachment: fixed;
  z-index: -2;
  height: 80vh;
  top: 0;
}
.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  color: white;
} */
/* .jumbo {
  background-image: url("cover.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: #efefef;
  height: 100vh;
  position: relative;
  z-index: -2;
}
.overlay {
  opacity: 0.5;
  position: absolute;
  color: #efefef;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
} */
